.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  z-index: 2;
  cursor: pointer;
}

.right-arrow {
  right: -20px; /* Adjust position as needed */
}

.left-arrow {
  left: -30px; /* Adjust position as needed */
}
